
* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  header {
    text-align: center;
    background: #13293d;
    color: #fff;
  }

/* Project container - holds all cards - parent */
  .projects { 
    margin: 30px; /* Space between project container and webpage */
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

/* Project cards - holds images and content */
.project-card {
    background-color: orange;
    border: 1px solid #000000;
    width: 30%;
    margin-bottom: 30px;
    flex-grow: 1 1 auto; /*cards will all grow and shrink at same pace*/
}

.project-image {
    height: 300px; /* max height of images */
    background-color: green;
    margin: 0;
}

.project-content {
    margin: 0 5px; /* Space between card edge and text - indent */
}

@media screen and (max-width: 768px) {
    .project-card {
        width: 48%; 
        /*at a smaller resolution, the cards will move from 3 wide to 2 wide*/
    }
  }

/*at a phone resolution, the cards will move from column to row layout*/
 @media screen and (max-width: 450px) {
    .projects { 
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
    }

    .project-card {
        width: 100%; 
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .project-image {
        height: 80px;
        min-width: 100px;
    }

    .project-content {
      display: flex;
      flex-direction: column;
      margin: 0 5px;;
  }

  h1 {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.7rem;
    margin: 2px;
  }
  }
  